.container {
  height: 100%;
  width: 100vw;
  background-color: var(--dark-color);
  display: flex;
  flex-wrap: nowrap;
}

.card {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  max-width: 500px;
  padding: 90px 0 50px;
  background-color: var(--contrast-color);
  margin: auto auto;
  box-shadow: #00000033 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: var(--dark-color);
  text-align: center;
  width: 90%;
}

.text {
  width: 80%;
  color: black;
  font-size: 14px;
  text-align: center;
  padding: 30px 0px;
}

.login-title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 90%;
  color: var(--dark-color);
}

.login-subtitle {
  margin-top: 15px;
  text-align: center;
  color: var(--dark-color);
  width: 70%;
  font-size: 20px;
  font-family: 400;
}

.login-h3 {
  font-size: 15px;
  text-align: center;
  font-family: 400;
  width: 70%;
}

.login-button {
  color: black;
  background-color: var(--contrast-color);
  padding: 5px;
  text-align: center;
  box-shadow: #00000033 2px 2px 2px;
  border: 0.1px solid var(--dark-color);
  cursor: pointer;
  transition: ease-in 0.1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6%;
}

.login-button:hover {
  transform: scale(1.05);
}

.login-button > img {
  height: 20px;
  width: 20px;
}

.login-button > p {
  padding: 5px 10px;
}

.profile-image {
  position: absolute;
  height: 120px;
  border-radius: 50%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
  box-shadow: #00000033 2px 2px 2px;
  top: -60px;
}

.profile-image > i {
  font-size: 70px;
  color: var(--secondary-color); 
}

.logo-unt {
  height: 60px;
  top: 5px;
  left: 5px;
  position: absolute;
}

.logo-facet {
  height: 60px;
  top: 5px;
  right: 5px;
  position: absolute;
}