.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  min-width: 70rem;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: var(--primary-color);
  color: var(--contrast-color);
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  background-color: var(--primary-color);
}

.content-table tbody tr td {
  background-color: var(--contrast-color);
  color: black;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

#column-acciones > * {
  margin: 0px 5px;
}

.boton-accion {
  cursor: pointer;
}