@import '../../constants/variables.css';

.navbar {
  background-color: var(--dark-color);
  border-bottom: 1px solid var(--contrast-color);
  box-shadow: 0 1px 2px var(--dark-color);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

#navbar-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
}

.wrapper .sidebar {
  background: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: var(--contrast-color);
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: var(--contrast-color);
  font-size: 14px;
}

.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
}

.wrapper .section .top_navbar {
  background: var(--dark-color);
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color: var(--contrast-color);
}

.wrapper .section .top_navbar .hamburger a:hover {
  color: var(--contrast-color);
}

/* TODO: Cambia a rem */
nav.inactive.wrapper .sidebar {
  left: -225px;
}

nav.inactive.wrapper .section {
  margin-left: 0;
  width: 100%;
}
