@import '../../constants/variables.css';

/* Damos los estilos grid */

.carga-horaria-form {
  display: grid;
  gap: 8px;
  line-height: 1.3;
}

.informacion-adicional-form {
  display: grid;
  gap: 8px;
  line-height: 1.3;
}

.seccion-descriptores-form {
  display: grid;
  gap: 8px;
  line-height: 1.3;
}

/* TODO: Refactorizar */
.carga-horaria-form label {
  display: block;
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

.carga-horaria-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-area);
  border-radius: 0 0 5px 5px;
  font-size: 16px;
}

.seccion-descriptores-form label {
  display: block;
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

.seccion-descriptores-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-area);
  border-radius: 0 0 5px 5px;
  font-size: 16px;
}

.informacion-adicional-form label {
  display: block;
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

.informacion-adicional-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-area);
  border-radius: 0 0 5px 5px;
  font-size: 16px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  width: 85%;
}

.modal-input {
  display: flex;
}

.selector-descritores {

}

.acciones-programa-asignatura {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  gap: 8px;
}

@media screen and (min-width: 800px) {
  .carga-horaria-form {
    grid-template-columns: 1fr 1fr;
  }

  .seccion-descriptores-form:last-child:not(#descriptores) {
    grid-template-columns: 1fr 1fr;
  }
}
