.section-header {
  background-color: #4169E1;
}

.section-header h2 {
  color: white;
  padding: 0.25rem 0rem;
  padding-left: 0.5rem;
  border-bottom: 1px solid white;
}

ul.sidebar-section-items {
  display: flex;
  flex-direction: column;
}

.sidebar-section-items li {
  width: 100%;
  list-style: none;
  background-color: #4169E1;
  padding: 1rem 0rem;
  padding-left: 0.5rem;
  color: white;
}

.sidebar-section-items li a {
  color: inherit;
  text-decoration: none;
}
