@import '../../constants/variables.css';

/* Damos los estilos grid */

.carga-horaria-form {
  display: grid;
  gap: 8px;
  line-height: 1.3;
}

.informacion-adicional-form {
  display: grid;
  gap: 8px;
  line-height: 1.3;
}

.seccion-descriptores-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 1.3;
}

/* TODO: Refactorizar */
.carga-horaria-form label {
  display: block;
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

.carga-horaria-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-area);
  border-radius: 0 0 5px 5px;
  font-size: 16px;
}

.seccion-descriptores-form label {
  display: block;
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

.seccion-descriptores-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-area);
  border-radius: 0 0 5px 5px;
  font-size: 16px;
}

.informacion-adicional-form label {
  display: block;
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

.informacion-adicional-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-area);
  border-radius: 0 0 5px 5px;
  font-size: 16px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  width: 85%;
}

.form-section .header {
  color: var(--primary-color);
  margin-top: 1rem;
}

.modal-input {
  display: flex;
  margin: 10px 0px;
}

.selector-descritores {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
}

.selector-descriptores-columna {
  width: 50%;
}

.selector-descriptores-columna label {
  background-color: var(--text-area);
}

.selector-descriptores-columna p {
  border-bottom: 1px solid var(--primary-color);
}

.acciones-programa-asignatura {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  gap: 8px;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.radio-buttons input {
  margin-bottom: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.radio-buttons input:checked {
  background-color: var(--primary-color);
}

.radio-buttons input:disabled {
  cursor: not-allowed;
}

.radio-buttons label {
  padding-left: 5px;
}

@media screen and (min-width: 800px) {
  .carga-horaria-form {
    grid-template-columns: 1fr 1fr;
  }

  .seccion-descriptores-form:last-child:not(#descriptores) {
    grid-template-columns: 1fr 1fr;
  }
}

.mensaje-error {
  color: brown;
  max-width: 500px;
  width: 60%;
}

.input-section {
  width:  100%;
}

.input-section .mensaje-error {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}