* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  background-color: #FFFFFF;
  overflow: auto;
}

.sidebar-active {
  width: calc(100% - 225px);
  position: relative;
  left: 225px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
