<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programa de asignatura - Footer</title>
    <style>
      .footer {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid black;
        margin-top: 20px;
        text-align: center;
        width: 18.5cm;

        text-align: center;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    </style>
  </head>
  <body>
    <footer
      class="footer"
    >
      <p>
        Avda. Independencia 1800 - C.P. 4000 - Tucumán - Argentina - Tel:+54 381 436-4093 - Fax:+54 381 436-4157
      </p>
    </footer>
  </body>
</html>
