<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programa de asignatura - Header</title>
    <style>
      .header {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
        width: 18.5cm;
        margin-bottom: 20px;
      }

      .header img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        height: 80px;
      }
    </style>
  </head>
  <body>
    <header
      class="header"
    >
      <img src="https://programas-asignatura-unt.netlify.app/assets/email/UNT.png"/>
      <img src="https://programas-asignatura-unt.netlify.app/assets/email/FACET.png"/>
    </header>
  </body>
</html>
