@import '../../constants/variables.css';

.button {
  background-color: var(--dark-color);
  color: var(--contrast-color);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.close-modal-button {
  display: flex;
  direction: row;
  justify-content: flex-end;
  margin-left: auto;
}

.sumar-text-area {
  display: flex;
  direction: row;
  justify-content: center;
}
